*{
    padding:0;
    margin:0;
    font-size:12px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
    color: dimgray;
}
.container{
    z-index: 1;
    background-color:  whitesmoke;
}
.right{
    width:35px;
    height: 100%;
    /*background-color: dimgrey;*/
    background-color: #504D53;
    z-index: 30;
    text-align: center;
}
.right img {
    width: 20px;
}
.r1{
    margin-top:140px;
    margin-bottom: 15px;
}
.r2{
    width:20px;
    margin:0 auto;
    border-top:1px solid #f5eeee;
    border-bottom: 1px solid #f5eeee;
    padding:10px 0;
}
.r2 a{
    color: #f5eeee;
    font-size:14px;
}
.r3{
    margin-top:15px;
}
.r4{
    margin-top:244px;
}
.r5{
    margin-top:24px;
}
.nav{
    width:100%;
    height:60px;
    background-color: #1e89e0;
}

.tab_1{
    color:#fff;
    width:124px;
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    display:inline-block;
    float:left;
}
.tab_1:hover{
   background-color: #006bc7;
}
.home{
    width:118px;
    background-color: #006bc7;
}
.app_1,.app_2,.app_3,.app_4{
    background-image:url("IMG/totalCredits.png") ;
    background-size: 22px;
    background-position: center left;
    background-repeat: no-repeat;
    padding-left:23px;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
}
.app_2{
    background-image:url("IMG/service.png");
}
.app_3{
    background-image:url("IMG/phone.png");
    background-size: 16px;
}
.app_4{
    background-image: url("IMG/people.png");
    font-weight: 400;
    font-size: 15px;
}
.header{
    width:80%;
    height: 50px;
    margin:0 auto;
    position: relative;
}
.position{
    display: inline-block;
    line-height: 50px;
   position: absolute;
    left:0;
}
.search{
    display: inline-block;
    padding-top: 10px;
    position: absolute;
    right:0px;
}
.search input{
    width:260px;
    height:30px;
    border:1px solid darkgrey;
    font-size: 14px;
    padding-left:5px;
    background-color: white;
    background-image: url("IMG/search.png");
    background-size: 18px;
    background-position: 90% center;
    background-repeat: no-repeat;
}
.banner{
    width:80%;
    height:96px;
    margin:0 auto;
    animation: mydiv 10s infinite;
    -moz-animation: mydiv 10s infinite;
    -o-animation: mydiv 10s infinite;
    -webkit-animation: mydiv 10s infinite;
}
@keyframes mydiv {
    from{
        background-image: url("IMG/banner1.png");
        background-size: 1170px;
    }
    50%{
        background-image: url("IMG/banner2.png");
        background-size: 1170px;
    }
    to{
        background-image: url("IMG/banner3.png");
        background-size: 1170px;
    }
}
.borderImg{
    margin-top:10px;
    position:absolute;
    right:10%;
    width:180px;
    height:100px;
    background-image: url("IMG/wawa.png");
    background-size:180px;
    background-repeat: no-repeat;
}
.content{
    width:80%;
    margin:0 auto;
}
.container a{
   text-decoration: none;
}
.merchant{
    height:50px;
    margin-top:60px;
    padding-left: 20px;
    border:2px solid #f5eeee;
    font-size:14px;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
}
.time{
    text-align: center;
    margin-top: 10px;
}
.merHead{
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.scoreLayer{
    margin:8px 0;
    background-image: url("IMG/score.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: left;
    padding-left:83px;
}
.clare{
    margin-top:8px;
}
.mer1,.mer2,.mer3{
    margin-top:10px;
    display:inline-block;
    width:78px;
    height:30px;
    text-align: center;
    line-height: 30px;
    font-size:14px;
}
.mInfo{
    border:1px solid lightgrey;
    overflow: hidden;
    background-color: white;
}
.merInfo{
    width:240px;
    height:100px;
    padding:20px;
    float: left;
    margin-left:1px;
}
.mInfo .infoLeft{
  width:70px;
    float:left;
}
.mInfo .infoRight{
    margin-left:90px;
}
.merIMG{
    width:70px;
}
.score{
    width:80px;
}
.declare{
    width:20px;
}
.merInfo:hover{
  background-color: whitesmoke;

}
.load{
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    opacity: 4;
}
.footer{
    border-top: 1px solid lightgray;
    margin-top:50px;
    overflow: hidden;
}
.fRight, .fLeft{
    margin-top:30px;
}
.fLeft{
    float: left;
    margin-left: 10%;
    width:35%;
    padding-right:40px;
    border-right: 1px solid lightgray;
}
.fLeft table{
    width:560px;
    text-align: left;

}
.fLeft table th{
  font-size: 14px;
    font-weight: inherit;
    color: darkslategray;
}
.fRight .feedback{
    float: left;
  margin-left:30px;
    margin-right: 100px;
}
.feedback .rp{
    color: darkslategray;
    font-size: 14px;
    margin:10px 0;
}
.scanIMG{
  width:90px;
    float:left;
}
.scan{
    float:left;
}
.sp{
    margin-left: 120px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-top:20px;
}
.scanClare{
    margin-left: 120px;
    margin-top: 10px;
}
.copyRight{
    clear: both;
    width: 80%;
    margin:0 auto;
    text-align: center;
    padding-top:40px;
}
.police{
    width:80px;
    /*margin-left:50%;*/
    /*position: absolute;*/
    /*left:-10px;*/
    margin-left:45%;
    overflow: hidden;
    margin-top:10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
}
.police img{
    width:80px;
}

@media screen and (min-width:1290px)and (max-width: 1462px){
    .right{
        position:fixed;
        top:0;
        right:0;
    }
    .nav{
        position: relative;
        top:0;
        left:0;
    }
    #elelogo{
        margin-left:100px;
    }
    .tab_2{
        width:520px;
        float:right;
        margin-right:20px;
    }
    .tab_2 a,.app1{
        display: inline-block;
        text-decoration: none;
        margin-right: 15px;
        line-height: 60px;
    }
    .signIn{
        margin-left: 60px;
    }
}
@media screen and (min-width:979px)and (max-width: 1290px){
    .right{
        position:fixed;
        top:0;
        right:0;
    }
    .nav{
        position: relative;
        top:0;
        left:0;
    }
    #elelogo{
        margin-left:60px;
    }
    #if_show{
        display: block;
    }
    #if_show{
        display:none;
    }
    .tab_2{
        width:520px;
        float:right;
        margin-right:20px;
    }
    .tab_2 a,.app1{
        display: inline-block;
        text-decoration: none;
        margin-right: 13px;
        line-height: 60px;
    }
    .signIn{
        margin-left: 70px;
    }
    .merchant{

    }

}
@media screen and (max-width: 978px){
    .right{
        position:fixed;
        top:0;
        right:0;
    }
    .nav{
        width:978px;
        position: relative;
        top:0;
        left:0;
    }
    #elelogo{
        margin-left:5px;
    }
    #if_show{
        display: block;
    }
    #if_show{
        display:none;
    }
    .tab_1{
        width:124px;
        line-height: 60px;
        text-align: center;
        display:inline-block;
    }
    #order{
        margin-right:80px;
    }
    .tab_2 a,.app1{
        display: inline-block;
        text-decoration: none;
        margin-right: 10px;
        line-height: 60px;
    }
    .signIn{
        margin-left: 70px;
    }
    .header{
        width:782px;
    }
}